/* css controls for the added inputs to the tab for Climate/River Flows*/
/*DAS last updated on 10.15.14*/
/*
The climate factor controls on the Climate/River Flows Tab
*/
#tabs{
 background-color: #e6e6e6;
}
#climateTab {
    position: absolute;
    /*top: 40px;*/
    left:7px;
    /*height: auto;*/
    /*height: 180px;*/
    height: 265px;
    /*width: 275px;*/
    /*Sampson 09.19.16*/
    width: 450px;
    width: 400px;
    /*width: 360px;*/
    
    padding: 10px;
    
    background-color: #e6e6e6;
    color: #555;
      text-align:center;
    /*-webkit-box-shadow: 0 0 5px 5px #000000;
    -moz-box-shadow: 0 0 5px 5px #000000;
    box-shadow: 0 0 5px 5px #000000;*/
    border: 1px solid;
    
}

#climateTab-button-container {
    width: 32px;
    height: 32px;
    float: left;
}
#settings-button-container {
    width: 25px;
    height: 25px;
    float: right;
}

#climateTab .ui-tabs .ui-tabs-panel {
    background-color: #E6E6E6 !important;
    /*border: 1px solid #990033 !important;*/
    padding: 7px !important;
}

#climateTab .ui-tabs {
    margin-bottom: 10px;
}
#HeaderClimate{
    font-family: "Times New Roman", Times, serif;
    font-size: 16px;
}
/* -------------------------------------------------------------------------------*/
#droughtTab {
    position: absolute;
    /*STEPTOE EDIT BEGIN 08/18/16*/
    /*top: 40px;*/
    /*left: 7px;*/
    left: 7px;
    top: 235px;
     top: 295px;
    /*STEPTOE EDIT END 08/18/16*/

    height: 90px; /*275px;*/
    /*width: 275px;*/

    width: 450px;
    width: 400px;
    /*width: 360px;*/ 
    
    padding: 10px;
    
    background-color: #e6e6e6;
    color: #555;
      text-align:center;
    /*-webkit-box-shadow: 0 0 5px 5px #000000;
    -moz-box-shadow: 0 0 5px 5px #000000;
    box-shadow: 0 0 5px 5px #000000;*/
    border: 1px solid;
}
#droughtTab-button-container {
  
    width: 32px;
    height: 32px;
    float: left;
}
#settings-button-container {
    width: 25px;
    height: 25px;
    float: right;
}

#droughtTab .ui-tabs .ui-tabs-panel {
    background-color: #E6E6E6 !important;
   /* border: 1px solid #990033 !important;*/
    padding: 5px !important;
}

#droughtTab .ui-tabs {

    margin-bottom: 20px;
}

#droughtStartStop {
    background-color: #E6E6E6 !important;
    position: absolute;
    /*top: 225px;*/
    top: 185px;
    /*height: 40px;*/
    height: 120px;
    /*left:591px;*/
    /*left: 7px;*/
    left: 623px;
    width: 275px;
    font-family: "Times New Roman", Times, serif; 
    font-size: 17px;  
    text-align:center;  
}

/* This is the text box with for Drought Start/Stop years */     
 input[type='number']{
   width:75px;
 }
 /* This is the redline area where start and stop are entered*/
 #droughtStartStop {
   /*left: 25px;*/
   left: 641px;
   width: 255px;
   height: 148px;
  border: 1px solid #990033 !important;
 }
/* ------------------------------------------------------------------------------------*/
/*
River flow images
*/
#Image_container {
    position: absolute;
    left: 310px;
    left: 500px;
      left: 440px;
    /*left: 410px;*/
    /*top: 40px;*/
    top: 127px;
    
    height: auto;
    /*width: 260px;*/
    width: 275px;

    /*padding: 3px;*/
    /*padding: 3px 10px;*/
    padding: 20px 10px;
    background-color: #e6e6e6;
    color: #555;
   
     text-align:center;
    
    /*-webkit-box-shadow: 0 0 5px 5px #000000;
    -moz-box-shadow: 0 0 5px 5px #000000;
    box-shadow: 0 0 5px 5px #000000;*/
    border: 1px solid;
    
}
/*#Image_container img{
    height: 230px;
    width: 100%;
}*/
/* THis has the radio buttons for the four start years for the rivers */
#riverTab {
    position: absolute;

    /*STEPTOE EDIT BEGIN 08/18/16*/
    /*left: 7px;*/
    /*top: 251px;*/
    left: 500px;
    /*SAMPSON 09.19.16*/
     left: 440px;
    /*left: 410px;*/
    top: 0px;
    /*STEPTOE EDIT END 08/18/16*/

    height: auto;
    width: 275px;
    padding: 10px;
    background-color: #e6e6e6;

    color: #555;
    text-align:center;
    /*-webkit-box-shadow: 0 0 5px 5px #000000;
    -moz-box-shadow: 0 0 5px 5px #000000;
    box-shadow: 0 0 5px 5px #000000;*/
    border: 1px solid;    
}

/* Contains the red border for the riverTab div */
#FlowRecord {
    /*border: 1px solid #990033 !important;*/
     text-align:left;
}
#flowRecordList {
    /*background-color: #e6e6e6 !important;*/
    width: calc(100% - 29px);
    font-weight:bold;
    margin-top: 32px;
}

/* this is the div for the trace start years */
#startYear {
    position: absolute;
    /*left: 312px;*/
    left: 7px;
    /*top: 373px;*/
    top: 370px;
     top: 415px;
    
    height: auto;

    /*width: 255px;*/
    /*width: 285px;*/
    width: 460px;
    width: 410px;
    /*width: 370px;*/

    padding: 5px;
    background-color: #e6e6e6;
    color: #555;
   
     text-align:center;
    
    /*-webkit-box-shadow: 0 0 5px 5px #000000;
    -moz-box-shadow: 0 0 5px 5px #000000;
    box-shadow: 0 0 5px 5px #000000;*/
    border: 1px solid;
    
}

#WindowObject_TS{
        height: 100%;
        width:300px;
	overflow:hidden
      }
